[user]
	name = Adam Williams
	email = adam@thewilliams.ws
[init]
	templatedir = /Users/aiwilliams/.gittemplate
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
  aa = !git add -u && git add . && git status
	st = status
	ci = commit
	co = checkout
  ctags = !.git/hooks/ctags
[merge]
	tool = opendiff
[core]
	legacyheaders = false
	excludesfile = /Users/aiwilliams/.gitignore
	quotepath = false
[repack]
	usedeltabaseoffset = true
[apply]
  whitespace = nowarn
[svn]
	authorsfile = /Users/aiwilliams/.svnauthors
[push]
	default = tracking
[branch]
  autosetuprebase = always
