.DS_Store
.tm_last_run_ruby
webrat-*.html
rerun.txt
public/tmp/*
*.tmproj
log/*
.sass-cache
db/*.sqlite3
.*.swp
nbproject
.netrwhist
tags

bin
.bundle

*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

.vim-swp
.vim-bak
