[user]
	name = Adam Williams
	email = adam@thewilliams.ws
[init]
	templatedir = ~/.gittemplate
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
  aa = !git add -u && git add . && git status
	st = status
	ci = commit
	co = checkout
  ctags = !.git/hooks/ctags
[merge]
	tool = opendiff
[core]
	legacyheaders = false
	excludesfile = ~/.gitignore
[repack]
	usedeltabaseoffset = true
[apply]
  whitespace = nowarn
[svn]
	authorsfile = ~/.gitusers
[push]
	default = tracking
